{% extends "base.html" %}

{% load staticfiles %}
{% block pagetitle %}Cashier{% endblock %}

{% block pagestylesheets %}
    <style type="text/css">
        .order-div
        {
            min-height: 450px;
            max-height: 450px;
            overflow-y: auto;
        }
        .item-div
        {
            overflow-y: scroll;
            overflow-x: auto;
            max-height: 750px;
        }
        .table-hover
        {
            cursor: pointer;
        }
        .qty-input
        {
            background: transparent;
            border: none;
            max-width: 40px;
            border-bottom: 1px solid #ccc;
        }
        #order-table
        {
            table-layout: fixed;
        }
        #order-table a
        {
            cursor: pointer;
        }
        #modal-submit
        {
            text-align: center;
            font-size: 20pt;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <h1>Cashier</h1>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-8">
            <div class="box">
                <div class="box-header with-border">
                    <div class="form-group">
                        <label class="control-label" for="number" style="display:none">
                        </label>
                        <input type="text"
                                       class="form-control"
                                       placeholder="Sales Invoice No."
                                       name="number"
                                       id="number">
                    </div>
                </div>
                <div class="box-body order-div">
                    <div class="table-responsive">
                        <table class="table table-striped no-margin" id="order-table">
                            <colgroup>
                                <col style="width:5%">
                                <col style="width:45%">
                                <col style="width:10%;max-width:55px;min-width:55px;">
                                <col style="width:10%">
                                <col style="width:10%">
                                <col style="width:20%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th><i class="fa fa-close"></i></th>
                                    <th>Item</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Unit</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="assignee" style="display:none">
                                </label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Assignee"
                                       name="assignee"
                                       id="assignee">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="remarks" style="display:none">
                                </label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Remarks"
                                       name="remarks"
                                       id="remarks">
                            </div>
                            <table class="table bg-light-blue disabled color-palette">
                                <tr>
                                    <th style="width:50%">Items</th>
                                    <td><span id="item-count">0</span></td>
                                    <th style="width:50%">Total</th>
                                    <td><span id="item-total">0.00</span></td>
                                </tr>
                                <tr>
                                    <th style="width:50%">Discount</th>
                                    <td><span id="discount">0</span>%</td>
                                    <th style="width:50%">Tax</th>
                                    <td><span id="tax">0</span>%</td>
                                </tr>
                                <tr class="bg-blue-active color-palette">
                                    <th style="width:50%" colspan="3">Total Payable</th>
                                    <td><span id="payable">0.00</span></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <button type="button"
                                    class="btn btn-sm btn-danger btn-flat pull-left"
                                    onclick="cancelOrder()"
                                    id="cancel-btn">
                                    Cancel
                            </button>
                            <button type="button"
                                    class="btn btn-large btn-default btn-flat pull-right"
                                    onclick="submitOrder()"
                                    disabled="true"
                                    id="submit-btn">
                                    Submit
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-footer -->
              </div>
        </div>
        <div class="col-lg-4">
            <div class="box">
                <div class="box-header with-border">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Search"
                               name="q"
                               id="search-box">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="box-body item-div">
                    <table class="table table-hover">
                        <colgroup>
                            <col style="width:10%">
                            <col style="width:55%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:15%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Item</th>
                                <th>Stock</th>
                                <th>Unit</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody id="search-results">
                            {% for item in items %}
                                <tr onclick="itemSelect(this)">
                                    <td>{{ item.id }}</td>
                                    <td><a>{{ item.description }}</a></td>
                                    <td>{{ item.stock }}</td>
                                    <td>{{ item.unit|default_if_none:"" }}</td>
                                    <td>{{ item.price }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block right_side_bar %}
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li class="active">
            <a href="#control-sidebar-home-tab" data-toggle="tab" aria-expanded="false">
                <p>Recent Transactions</p>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-pane active" id="control-sidebar-home-tab">
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script type="text/javascript">
        $("#search-box").keyup(function() {
            $.ajax({
                type: "POST",
                url: "{% url 'cashier_item_search' %}",
                data: {
                    "q": $(this).val(),
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: itemSearchResult,
                dataType: "html"
            })
        });
        function itemSearchResult(data, textStatus, jqXHR)
        {
            $("#search-results").html(data);
        }

        function itemSelect(e)
        {
            var item_id = $(e).children().eq(0).text();
            var item_desc = $(e).children().eq(1).text();
            var item_stock = $(e).children().eq(2).text();
            var item_unit = $(e).children().eq(3).text();
            var item_price = $(e).children().eq(4).text();

            if ($("#order-table").find("#item-" + item_id).length < 1)
            {
                var row = $("<tr id='item-" + item_id + "'>" +
                        "<td onclick='itemRemove(this)'><a><i class='glyphicon glyphicon-remove-circle'></i></a></td>" +
                        "<td>" + item_desc + "</td>" +
                        "<td data-stock='" + item_stock + "'><a onclick='qtyInputOnClick(this)'>1</a></td>" +
                        "<td>" + item_price + "</td>" +
                        "<td>" + item_unit + "</td>" +
                        "<td class='item-subtotal'>" + item_price + "</td>" +
                    "</tr>"
                );
                $("#order-table").append(row);

                $("#submit-btn").prop("disabled", false);
                updateOrderData();
            }
        }

        // qty functions
        function qtyInputOnClick(e)
        {
            var content = $(e).text();
            var stock = $(e).parent().attr('data-stock');

            var input = "<input type='number'" +
                        "       onblur='qtyInputOnBlur(this)'" +
                        "       onchange='qtyInputOnChange(this)'" +
                        "       min=1 max=" + stock +
                        "       value='" + content + "'" +
                        "       class='qty-input'/>"
            $(e).parent().html(input);
        }
        function qtyInputOnChange(e)
        {
            var price = parseFloat($(e).parent().next().text());
            var qty = parseFloat($(e).val());

            var sub = price * qty;
            gross = parseFloat(Math.round(sub * 100) / 100).toFixed(2);
            $(e).parent().next().next().text(gross);

        }
        function qtyInputOnBlur(e)
        {
            var val = $(e).val();
            var element = "<a href='#' onclick='qtyInputOnClick(this)'>" + val + "</a></td>"

            $(e).parent().html(element);
            updateOrderData();
        }

        function itemRemove(e)
        {
            $(e).parent().remove();

            updateOrderData();
            if ($("#order-table > tbody  > tr").length < 1)
            {
                $("#submit-btn").prop("disabled", true);
            }
        }

        function updateOrderData()
        {
            var count = 0;
            var gross = 0;
            var net = 0;

            var disc = parseFloat($("#discount").text()) * 0.01;
            var tax = parseFloat($("#tax").text()) * 0.01;

            $("#order-table > tbody  > tr").each(function (i, el) {
                var tds = $(this).find('td');

                var qty = parseInt(tds.eq(2).text());
                var price = parseFloat(tds.eq(3).text());
                var sub = parseFloat(tds.eq(4).text());

                gross = parseFloat(gross) + sub;
                count++;
            });

            gross = parseFloat(Math.round(gross * 100) / 100).toFixed(2);
            // discounted
            net = gross - (gross * disc);

            // add tax
            net = net + (net * tax);
            net = parseFloat(Math.round(net * 100) / 100).toFixed(2);

            $("#item-count").text(count);
            $("#item-total").text(gross);
            $("#payable").text(net);
        }

        function submitOrder()
        {
            var items = []
            $("#order-table > tbody  > tr").each(function (i, el) {
                var tds = $(this).find('td');

                var id = $(this).attr('id');
                var qty = parseFloat(tds.eq(2).text());
                var price = parseFloat(tds.eq(3).text());
                console.log(price);

                var order_item = {
                    "id": id.split('-')[1],
                    "qty": qty,
                    "price": price
                };
                items.push(order_item);
            });
            var data = {
                "items": JSON.stringify(items),
                "number": $("#number").val(),
                "assignee": $("#assignee").val(),
                "remarks": $("#remarks").val(),
                "csrfmiddlewaretoken": "{{ csrf_token }}"
            };

            $.ajax({
                type: "POST",
                url: "{% url 'cashier_transaction_add' %}",
                data: data,
                success: orderAddedOK,
                error: orderAddedNG,
                dataType: "json"
            })

        }
        function orderAddedOK(data, textStatus, jqXHR)
        {
            var ajax_data = {"csrfmiddlewaretoken": "{{ csrf_token }}"}
            var q = $("#search-box").val();
            if (q != "")
            {
                ajax_data["q"] = q;
            }

            $.ajax({
                type: "POST",
                url: "{% url 'cashier_item_search' %}",
                data: ajax_data,
                success: itemSearchResult,
                dataType: "html"
            });

            $(".has-error label").text("");
            $(".has-error label").css("display", "none");
            $(".has-error").removeClass("has-error");

            $("#number").val("");
            $("#assignee").val("");
            $("#remarks").val("");

            $("#order-table > tbody").empty();
            $("#submit-btn").prop("disabled", true);
            updateOrderData();

            $("#notification span").text("!");
        }
        function orderAddedNG(jqXHR, textStatus, errorThrown)
        {
            var msg = "Failed in processing orders.";
            if(jqXHR.status == 400)
            {
                var error = JSON.parse(jqXHR.responseText);
                $.each(error, function(index, value) {
                    if (index == "non_field_errors")
                    {
                        for(i = 0; i < value.length; i++)
                        {
                            $.toaster({
                                priority : "danger",
                                title : "Error",
                                message : value[i]
                            });
                        }
                    }
                    else if (index == "particulars")
                    {
                        for(i = 0; i < value.length; i++)
                        {
                            if ("non_field_errors" in value[i])
                            {
                                for(j = 0; j < value[i].non_field_errors.length; j++)
                                {
                                    $.toaster({
                                        priority : "danger",
                                        title : "Error",
                                        message : value[i].non_field_errors[j]
                                    });
                                }
                            }
                        }
                    }
                    else
                    {
                        var target = $( "label[for='"+ index +"']" );
                        target.css("display", "block");
                        target.text(value[0]);
                        target.parent().addClass("has-error");
                    }
                });
            }
            else if(jqXHR.status == 500)
            {
                var error = JSON.parse(jqXHR.responseText);
                $.toaster({
                    priority : "danger",
                    title : "Error",
                    message : error.error
                });
            }
        }
        function cancelOrder()
        {
            $("#order-table > tbody").empty();
            $("#submit-btn").prop("disabled", true);
            updateOrderData();
        }
    </script>
{% endblock %}