*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
*.log
env
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
migrations
logs
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
*.DS_Store
