{% extends "base.html" %}

{% load staticfiles %}
{% block pagetitle %}404 Not Found{% endblock %}

{% block breadcrumb %}
    <h1>404 Not Found</h1>
{% endblock %}

{% block main %}
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
            <p>
                We could not find the page you were looking for.
                Meanwhile, you may return to <a href="{% url 'home' %}">home</a> page.
            </p>
        </div>
    </div>
{% endblock %}

{% block right_side_bar %}
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li class="active">
            <a href="#control-sidebar-home-tab" data-toggle="tab" aria-expanded="false">
                <p>Recent Transactions</p>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-pane active" id="control-sidebar-home-tab">
        </div>
    </div>
{% endblock %}
