{% extends "stockpile_app/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Counter{% endblock %}

{% block pagestylesheets %}
<style type="text/css">
    .order-div
    {
        min-height: 665px;
        max-height: 665px;
        overflow-y: auto;
        overflow-x: auto;
    }
    .item-div
    {
        min-height: 840px;
        max-height: 840px;
        overflow-y: auto;
        overflow-x: auto;
    }
    .table-hover
    {
        cursor: pointer;
    }
    .qty-input
    {
        background: transparent;
        border: none;
        max-width: 40px;
        border-bottom: 1px solid #ccc;
    }
    #order-table
    {
        table-layout: fixed;
    }
    #order-table a
    {
        cursor: pointer;
    }
    #modal-submit
    {
        text-align: center;
        font-size: 20pt;
    }
</style>
{% endblock %}

{% block navbarmenu %}
{% endblock %}

{% block breadcrumb %}
<h1>
    Counter
</h1>
{% endblock %}

{% block main %}
<div class="row">
    <div class="box" id="container">
    </div>
</div>

<div class="modal fade" id="process-order">
</div>
{% endblock %}

{% block pagescripts %}
<script type="text/javascript">
    function processOrder(e)
    {
        var order_id = $(e).children("td:first").text();
        $.ajax({
            type: "GET",
            url: "detail/" + order_id,
            success:  function (data) {
                $('#process-order').html(data).modal('show');
            },
            dataType: "html"
        });

        $('.todo-list input').on('check', function() {
            window.console.log($(this), 'The element has been checked');
        });
    }

    function orderDone(order_id)
    {
        $.ajax({
            type: "POST",
            url: "edit/" + order_id,
            data: {
                "status": "D",
                "csrfmiddlewaretoken": "{{ csrf_token }}"
            },
            success:  orderDoneOK,
            error: orderDoneNG,
            dataType: "json"
        });
    }
    function orderDoneOK(data, textStatus, jqXHR)
    {
        $.toaster("Updated Order no. " + data.created,
                  "Successfully updated order",
                  "success");
    }
    function orderDoneNG(jqXHR, textStatus, errorThrown)
    {
        var msg = "Failed in updating order.";
        if(jqXHR.status == 400)
        {
            var error = JSON.parse(jqXHR.responseText);
            msg = "";
            $.each(error, function(index, value) {
                msg = msg + value;
            });
        }
        $.toaster(msg,
                  "Unable to update order",
                  "error");
    }

    $(document).ready(function (evt) {
        $.ajax({
            type: "GET",
            url: "{% url 'counter_orders' %}",
            success: function (data) {
                $('#container').html(data);
            },
            dataType: "html"
        });

        /*
        // create websocket instance
        var ws = new WebSocket("ws://localhost:8080/");

        // Handle incoming websocket message callback
        ws.onmessage = function(evt) {
            console.log("Message Received: " + evt.data)
            json_data = JSON.parse(evt.data)
            $.ajax({
                type: "GET",
                url: "{% url 'counter_orders' %}",
                success: function (data) {
                    $('#container').html(data);
                },
                dataType: "html"
            });
        };

        // Close Websocket callback
        ws.onclose = function(evt) {
            alert("Connection closed");
        };

        // Open Websocket callback
        ws.onopen = function(evt) {
            console.log("Connection open")
        };
        */
    });
</script>
{% endblock %}