<div class="modal-dialog">
<form action="{% url 'item_add' %}" method="post">
{% csrf_token %}
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Add New Item</h4>
        </div>
        <div class="modal-body">
            {% if form.description.errors %}
            <div class="form-group has-error">
            {% else %}
            <div class="form-group">
            {% endif %}
                <label for="{{ form.description.id_for_label }}">
                    Description
                    <ul>
                        {% for error in form.description.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </label>
                <!-- widget -->
                {{ form.description }}
            </div>

            {% if form.stock.errors %}
            <div class="form-group has-error">
            {% else %}
            <div class="form-group">
            {% endif %}
                <label for="{{ form.stock.id_for_label }}">
                    Stock
                    <ul>
                        {% for error in form.stock.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </label>
                <!-- widget -->
                {{ form.stock }}
            </div>

            {% if form.price.errors %}
            <div class="form-group has-error">
            {% else %}
            <div class="form-group">
            {% endif %}
                <label for="{{ form.price.id_for_label }}">
                    Price
                    <ul>
                        {% for error in form.price.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </label>
                <!-- widget -->
                {{ form.price }}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
</div>