<ul class="control-sidebar-menu">
    {% if transactions.count > 0%}
        {% for transaction in transactions %}
            <li>
                <a href="javascript:void(0)">
                    {% if transaction.status == "N" %}
                        <span class="menu-icon bg-blue">{{ transaction.author|capfirst|first }}</span>
                    {% elif transaction.status == "D" %}
                        <span class="menu-icon bg-green">{{ transaction.author|capfirst|first }}</span>
                    {% endif %}
                    <div class="menu-info">
                        <h4 class="control-sidebar-subheading">Transaction no. {{ transaction.id }}</h4>
                        <p>{{ transaction.date|timesince }} ago</p>
                    </div>
                </a>
            </li>
        {% endfor %}
    {% else %}
        <li>
            <a href="javascript:void(0)">
                <div class="menu-info">
                    <p>No Transactions yet</p>
                </div>
            </a>
        </li>
    {% endif %}
</ul>
<h6 class="control-sidebar-heading">Legend</h6>
<ul class="control-sidebar-menu">
    <li>
        <div class="menu-info">
            <i class="fa fa-circle-o text-blue"></i> <span>New</span>
        </div>
    </li>
    <li>
        <div class="menu-info">
            <i class="fa fa-circle-o text-yellow"></i> <span>Approved</span>
        </div>
    </li>
    <li>
        <div class="menu-info">
            <i class="fa fa-circle-o text-green"></i> <span>Done</span>
        </div>
    </li>
</ul>
<h6 class="control-sidebar-heading">
    <a href="{% url 'transaction_list' %}">View All Transactions</a>
</h6>