<ul class="control-sidebar-menu">
    {% if transactions.count > 0 %}
        {% for transaction in transactions %}
            <li>
                <a href="javascript:void(0)">
                    {% if transaction.status == "N" %}
                        <span class="menu-icon bg-blue">
                    {% elif transaction.status == "R" %}
                        <span class="menu-icon bg-yellow">
                    {% elif transaction.status == "D" %}
                        <span class="menu-icon bg-green">
                    {% elif transaction.status == "C" %}
                        <span class="menu-icon bg-red">
                    {% endif %}
                            {% if transaction.author %}
                                {{ transaction.author.username|capfirst|first }}
                            {% endif %}
                        </span>
                    <div class="menu-info">
                        <small class="label label-info pull-right">{{ transaction.id }}</small>
                        <h4 class="control-sidebar-subheading">S.I. <b>{{ transaction.number|default_if_none:"" }}</b></h4>
                        <p class="pull-left">{{ transaction.timestamp|timesince }} ago</p>
                    </div>
                </a>
            </li>
        {% endfor %}
    {% elif error %}
        <li>
            <a href="javascript:void(0)">
                <div class="menu-info">
                    <p>{{ error }}</p>
                </div>
            </a>
        </li>
    {% else %}
        <li>
            <a href="javascript:void(0)">
                <div class="menu-info">
                    <p>No transactions yet</p>
                </div>
            </a>
        </li>
    {% endif %}
</ul>
<h6 class="control-sidebar-heading">Legend</h6>
<ul class="control-sidebar-menu">
    <li>
        <div class="menu-info">
            <i class="fa fa-circle-o text-blue"></i> <span>New</span>
        </div>
    </li>
    <li>
        <div class="menu-info">
            <i class="fa fa-circle-o text-yellow"></i> <span>Ready</span>
        </div>
    </li>
    <li>
        <div class="menu-info">
            <i class="fa fa-circle-o text-green"></i> <span>Done</span>
        </div>
    </li>
    <li>
        <div class="menu-info">
            <i class="fa fa-circle-o text-red"></i> <span>Cancel</span>
        </div>
    </li>
</ul>