<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-light-blue">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">
                <span class="label label-danger">{{ transaction.id }}</span>
                <span class="text">S.I. Number: {{ transaction.number }}</span>
            </h4>
        </div>
        <div class="modal-body nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#items_tab" data-toggle="tab">Items</a></li>
                <li><a href="#details_tab" data-toggle="tab">Details</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="items_tab">
                    <ul class="todo-list">
                        {% for particular in particulars %}
                            <li>
                                <span class="label label-danger" style="font-size: 14pt">{{ particular.quantity }}</span>
                                <!-- <span class="label label-warning" style="font-size: 14pt">{{ particular.item.unit }}</span> -->
                                <span class="text">
                                    <span class="text-red"  style="font-size: 14pt">
                                        &nbsp;{{ particular.item.unit }}&nbsp;
                                    </span>
                                    <span  style="font-size: 13pt">
                                        {{ particular.item.description }}
                                    </span>
                                </span>
                            </li>
                        {% endfor %}
                        {% if transaction.remarks %}
                            <li>
                                <span class="label label-info"><i class="fa fa-exclamation"></i></span>
                                <span class="text-muted">{{ transaction.remarks }}</span>
                            </li>
                        {% endif %}
                        {% if transaction.assignee %}
                            <li>
                                <span class="label label-info"><i class="fa fa-child"></i></span>
                                <span class="text-muted">{{ transaction.assignee }}</span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="tab-pane" id="details_tab">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <b>ID</b>
                            <span class="pull-right text-muted">{{ transaction.id }}</span>
                        </li>
                        <li class="list-group-item">
                            <b>S.I. Number</b>
                            <span class="pull-right text-muted">{{ transaction.number }}</span>
                        </li>
                        <li class="list-group-item">
                            <b>Timestamp</b>
                            <span class="pull-right text-muted">{{ transaction.timestamp|date:"Y-m-d" }}</span>
                        </li>
                        <li class="list-group-item">
                            <b>Author</b>
                            <span class="pull-right text-muted">{{ transaction.author.username|default_if_none:"" }}</span>
                        </li>
                        <li class="list-group-item">
                            <b>Assignee</b>
                            <span class="pull-right text-muted">{{ transaction.assignee|default_if_none:"" }}</span>
                        </li>
                        <li class="list-group-item">
                            <b>Remarks</b>
                            <p class="text-muted">{{ transaction.remarks|default_if_none:"" }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default">
                <a href="{% url 'transaction_edit' transaction_id=transaction.id %}">Edit</a>
            </button>
            <button type="button" class="btn btn-primary" onclick="orderReady({{ transaction.id }})">Approve</button>
            <button type="button" class="btn btn-sm btn-danger pull-left" onclick="orderCancel({{ transaction.id }})">Cancel</button>
        </div>
    </div>
</div>